<div class="scroll-table">
    {% if table_rows %}
        <table class="table table-striped {{ table_class }}">
            <thead>
                <tr>
                    {% for col in table_headers %}
                        <th>{{ col|linebreaksbr }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table_rows %}
                    <tr data-rso="{{ row.0 }}">
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif file_error %}
        <p class="text-center text-danger">Файл не подходит</p>
    {% else %}
        <p class="text-center text-muted">Данных нет</p>
    {% endif %}
</div>
